
._mp-card_r07xm_2 {
  padding: 12px;
  background: var(--mp-card-bg, #fff);
  border-radius: 8px;
}

.mp-card-wrap[data-v-de2f6141] {
  box-sizing: border-box;
}
.mp-card-header[data-v-de2f6141] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mp-card-title[data-v-de2f6141] {
  font-weight: 500;
}
.mp-card-body[data-v-de2f6141] {
  margin-top: 8px;
}

.mp-empty[data-v-a6eefd71] {
    width: 100%;
    padding: 22px 0 26px;
    text-align: center;
}
.mp-empty-icon[data-v-a6eefd71] {
    margin-bottom: 24px;
}
.mp-empty-icon-img[data-v-a6eefd71] {
    max-width: 206px;
    width: 100%;
    display: inline-block;
}
.mp-empty-title[data-v-a6eefd71] {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--mr-color-text-primary, #111827);
}
.mp-empty-desc[data-v-a6eefd71] {
    margin-top: 4px;
    font-size: 14px;
    color: var(--mr-color-text-secondary, #6b7280);
}
._mp-image_1gg7k_1 img {
  opacity: 0;
  transition: opacity linear 260ms;
}
._mp-image_1gg7k_1._loaded_1gg7k_5 img {
  opacity: 1;
}
._mp-image_1gg7k_1._cover_1gg7k_8 img {
  object-fit: cover;
}
._mp-image_1gg7k_1._contain_1gg7k_11 img {
  object-fit: contain;
}
._bg-color_1gg7k_15 {
  background-color: var(--mp-image-bg-color, var(--mr-color-neutral-100, #f3f4f6));
}
.mp-image-img[data-v-d1733c26],
.mp-image-placeholder[data-v-d1733c26] {
    width: 100%;
    height: 100%;
}
.mp-image-fill[data-v-d1733c26] {
    position: absolute;
    top: 0;
    left: 0;
}
.mp-image-placeholder[data-v-d1733c26] {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9ca3af;
    font-size: 14px;
}

.mp-input[data-v-8108a595] .van-field__body input {
    color: var(--mr-color-text-primary, #323233);
}
.mp-input[data-v-8108a595] .van-field__body input::placeholder {
    color: var(--mr-color-text-placeholder, #c8c9cc);
}
._title-view_1yhxv_1 {
  display: flex;
  font-size: 14px;
  margin-bottom: 12px;
}
._content-view_1yhxv_7 {
  display: flex;
  font-size: 14px;
  margin-top: 12px;
}
._right_1yhxv_13 {
  margin-left: auto;
  color: var(--mr-color-neutral-600);
}
._progress-text_1yhxv_18 {
  color: var(--mr-color-neutral-950);
  font-size: 12px;
  position: relative;
  width: 100%;
  text-align: right;
  top: 20px;
  z-index: 1;
  right: 8px;
}